body {
    background: #f4f4f4;
}

.container {
    margin-top: 50px;
}

.card {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}